<%- include('../partials/header'); %>

<main class="main main-wines">
    <h2 class="main-h2"><%=name %></h2>
    <section class="section section-wine">
        <%data.forEach(item => {%>
            <figure class="figure wine-figure">
                <a href ="wines/<%= item.id %>"></a>
                    <img src="<%= item.image %>" alt="<%=item.title %>">
                <%console.log(item) %>

                <p><%= item.winery %></p>
                <p><%= item.wine %></p>
                <p><%= item.rating %></p>
                <p><%= item.average %></p>
                <p><%= item.reviews %></p>
                <p><%= item.location %></p>
                <p><%= item.id %></p>
            </figure>
      <%  }) %>
    </section>
</main>

<%- include('../partials/footer'); %>